@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  color-scheme: dark light;

  width: 100%;
  min-height: 100%;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

/* Gambiarra para arrumar o :autofill */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid transparent;
  box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
  color: #e2e8f0;

  -webkit-text-fill-color: #e2e8f0;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
}

@media (max-width: 768px) {
  html {
    font-size: 87.5%;
  }
}

.scrollbar-custom::-webkit-scrollbar {
  height: 8px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #6db827; /* Cor slime */
  border-radius: 9999px; /* Rounded completo */
}

.scrollbar-custom::-webkit-scrollbar-track {
  background-color: #1e293b;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background-color: #6db827; /* Cor slime mais escura no hover */
}
